[Router]
router_ip = 192.168.0.1
password = DEIN_ROUTER_PASSWORT

[Database]
db_name = router_data.db  # SQLite Datenbank kompatibel zu vx-info.py

[Email]
smtp_server = smtp.example.com
smtp_port = 587
sender_email = sender@example.com
sender_password = PASSWORD
recipient_email = recipient@example.com

[Modul] # im Report anzuzeigende Module aktivieren/deaktivieren True / False
ai_analysis = True
reconnects = True
line_analysis = True
downstream_chart = True
client_presence = True
presence = True
snr_heatmap = True
event_log = True

[AI]
ai_provider = gemini
ai_api_key = DEIN_GEMINI_API_KEY

[Analyse]
report_disconnects_level = 1 

[Charts]
hours_back = 48         # Zeitraum der Charts in Stunden
start_hour = 0          # Startstunde der Charts

table_1 = dsl                     # Tabelle, aus der die Daten gelesen werden
field_1 = downstream_noise_margin # Feld, aus dem die Daten gelesen werden
label_1 = SNR Downstream (dB)     # Beschriftung des Charts
moving_average_days = 7           # gleitender Durchschnitt in Tagen

[Events]
# Zeitraum für das Routerevent-Log und die AI Analyse
hours_back = 24 # Zeitraum der Events in Stunden
start_hour = 0  # Startstunde der Events

# Ausgeschlossene Event-Typen für das Log und die Analyse
exclude_types = Mesh, DHCPD, VoIP

# Log Level Filter: 0 Notfall   1 Alarm    2 Kritisch  3 Fehler 
#                   4 Vorsicht  5 Hinweis  6 Info      7 Debug (zeigt alles)
#                   9 zeigt alles wie 7 Debug aber filtert die 'exclude_types' aus
show_level = 4 # bis einschließlich dieses Levels anzeigen

[Reports]
# Alte Tagesreports löschen (0 = deaktiviert)
cleanup_reports = 7

[Language]
lang = de    # de = Deutsch, en = Englisch (Ausgabesprache des Tagesreports)
